@{
  Layout = "_Layout";
}

<h1>Scrabble Score</h1>

<h2>Enter a word to receive your Scrabble Score:</h2>

<form action="/scrabble/score" method="post">
  <input type="text" id="userWord" name="userWord" class="form-control">
  <button type="submit" class="btn btn-default">Get Score</button>
</form>
