@{
  Layout = "_Layout";
}

 <h1>Scrabble Score</h1>

 <div class="well">
   <p><strong>1:</strong> A, E, I, O, U, L, N, R, S, T       </p>
   <p><strong>2:</strong> D, G                               </p>
   <p><strong>3:</strong> B, C, M, P                         </p>
   <p><strong>4:</strong> F, H, V, W, Y                      </p>
   <p><strong>5:</strong> K                                  </p>
   <p><strong>8:</strong> J, X                               </p>
   <p><strong>10:</strong> Q, Z                               </p>
 </div>

<h3>Score: @Model</h3>
<a href="/"><button class="btn btn-default">Home</button></a>
